.Card1
{
    background-image: url(../../public/img/recent-work-01.jpg);
    background-size: 100%;
}
.Card2
{
    background-image: url(../../public/img/recent-work-02.jpg);
    background-size: 100%;
}
.Card3
{
    background-image: url(../../public/img/recent-work-03.jpg);
    background-size: 100%;
}
.Card4
{
    background-image: url(../../public/img/recent-work-04.jpg);
    background-size: 100%;
}
.Card5
{
    background-image: url(../../public/img/recent-work-05.jpg);
    background-size: 100%;
}
.Card6
{
    background-image: url(../../public/img/recent-work-06.jpg);
    background-size: 100%;
}